.teamCard {
    height: 200px;
    width: 200px;
    background-color:white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.teamCard__Container a {
    text-decoration: none;
}

.teamCard:hover {
    scale: 1.05;
    transition: 0.5s;
}

.teamCard > img {
    margin-top: 18px;
    height: 100px;
    object-fit: contain;
}